.activeUser {
	width: 100%;
	padding: 16px 0px;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.activeUser p {
	text-transform: capitalize;
	font-size: 1.2em;
	font-weight: 500;
}

.activeUser:hover {
	cursor: pointer;
	background: rgba(229,76,76,0.8)
}