.menu {
	position: relative;
}

.menuContainer {
	position: absolute;
	padding: 2.5% 5%;
	width: 300px;
	top: -40%;
	right: 0;
	transition: 0.5s;
	background: rgba(255,102,102,1);
	display: flex;
	align-items: center;
	flex-direction: column;
	border-bottom-left-radius: 0.5em;
}

.menuContainer p {
	color: #fff;
	padding: 16px 0;
	font-size: 1.4em;
	font-weight: 600;
}

.logoutButton {
	margin: 16px 0;
}
