.messageInputContainer {
	position: fixed;
	bottom: 0;
	height: 10%;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.messageInput {
	border-style: solid;
	border-color:rgba(51, 51, 51, 0.4);
	border-image: none;
	width: 40%;
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.submitInput {
	border-left: none;
	width: 10%;
	background: rgba(255, 85, 85, 1);
	color: white;
	border-radius: 0 4px 4px 0;
}

.submitInput:focus, .messageInput:focus {
	outline: none;
	box-shadow: inset 0 1px 2px rgba(255,85,85,0.2);
	border-color: rgba(255, 85, 85, 1);
}

.submitInput:hover {
	cursor: pointer;
}

.submitInput, .messageInput {
	padding: 16px;
	font-size: 1em;
}