.activeUserContainer {
	width: 100%;
	padding: 16px 0px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	font-size: 1.2em;
	font-weight: 500;
	transition: 0.5s;
}

.activeUserContainer:hover {
	cursor: pointer;
	background: var(--main-shade);
}

.activeUser {
	display: inline;
	white-space: nowrap;
}