.activeUserContainer {
	width: 100%;
	margin: auto;
	padding: 16px 0px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.25s;
	text-transform: capitalize;
	font-size: 1.2em;
	font-weight: 500;
}

.activeUserContainer:hover {
	cursor: pointer;
	background: var(--main-shade);
}

.activeUser {

}