.messageInputContainer {
	height: 100px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.messageInput {
	padding: 16px 24px;
	border-style: solid;
	border-color:rgba(51, 51, 51, 0.4);
	border-image: none;
	width: 30%;
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.submitInput {
	padding: 16px 0px;
	border-left: none;
	width: 10%;
	min-width: 80px;
	background: var(--main-color);
	color: white;
	border-radius: 0 4px 4px 0;
	font-size: 1.2em;
}

.submitInput, .messageInput {
	font-size: 1.1em;
}