.formAppTitle {
	color: #fff;
	font-weight: 400;
}

.formDashboardContainer {
	height: 100%;;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 85, 85, 1);
}

.formContainer {
	position: relative;
	width: 35%;
	min-width: 300px;
	max-width: 450px;
	background: #fff;
	border-radius: 8px;
	padding: 60px 0px;
}

.formTitle h2 {
	text-align: center;
	font-weight: 300;
	color: rgba(255, 85, 85, 1);
}

.form {
	padding: 30px 40px 40px 40px;
}

.switchFormContainer {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
}